h1, h2, h3, h4, h5 {
	font-family: 'Shrikhand', cursive;
  color: #2d1800;
}

p {
	font-family: 'Source Sans Pro', sans-serif;
  color: #2d1800;
}


body {
  background-color: #f9b880;
  padding: 0;
  margin: 0 auto;
  overflow-x: hidden;
  overflow-y: scroll;
}

.content {
  margin: 0 20% 0 20%;
  padding: 50px 0 50px 0;
}

/* Navigation Menu */
.main-menu {
  background-color: #E59F71;
  margin: 0 auto;
  padding: 0;
  width: 100%;
  z-index: 999;
}

nav ul {
  margin: 0 0 0 -20px;
  text-align: center;
}

nav li {
  display: inline-block;
  padding: 10px 23px 0 23px;
  margin: 0 auto;
}

nav img {
  height: 45px;
}

nav.main-menu {
  position: fixed;
}

nav a {
  text-decoration: none;
}

a span {
  display: none;
}

a:hover span {
  display: block;
  text-decoration: none;
  font-family: 'Source Sans Pro', sans-serif;
  color: white;
  margin-bottom: 5px;
}

/* Header */
.header {
  margin: 0 auto;
  padding: 0;
}
.container {
  background-color: #f9b880;
  padding: 100px 0 0 0;
  margin: 0 20% 45px 20%;
  text-align: center;
}

.header img {
  width: 100%;
  align-items: center;
  margin: 0 auto;
}

.header h1 {
  font-size: 65px;
  letter-spacing: 2px;
  color: white;
  /*margin: 50px 0 0 0;*/
  margin: 0 0 -30px 0;
}

.header p {
  font-size: 22px;
  color: white;
  margin: 0 auto;
}

#date h2{
  /*padding-bottom: 10px;*/
  /*font-weight: bold;*/
  color: white;
  letter-spacing: 1px;
  /*text-align: center;*/
  margin-bottom: 10px;
}

/* Fun */
.fun {
  background-color: #FFDCB5;
  align-items: center;
  text-align: center;
  padding: 0;
  margin: 0 auto;
}

.fun h1 {
  padding-bottom: 20px;
}

.fun-pics {
  text-align: center;
  font-size: 20px;
}

.actual-pics img {
  width: 100%;
  margin-top: 15px;
}

.fun-content {
  margin: 0 15% 0 15%;
  padding: 50px 0 50px 0;
}

.fun h1 {
  padding: 0 auto;
  margin: 0 0 -10px 0;
}

/* Our Team */
.our-team {
  margin: 0 auto;
  padding: 0;
  background-color: #FFDCB5;
  color: #2d1800;
}

.our-team img {
  width: 100%;
  margin-top: 10px;
  /*border-radius: 50%;*/
}

.bio {
  /*background-color: rgba(255, 245, 234, 0.8);*/
  /*box-shadow: 5px 5px #2d1800;*/
  /*padding: 20px;*/
}

.bio p {
  /*margin-bottom: -10px;*/
}

.bio h3 {
  margin-bottom: -10px;
  text-align: center;
}

#email-icon a{
  margin: -10px;
  display: inline-block;
  color: white;
}

#category {
  font-weight: bold;
}

/* Our Program */
.our-program {
  background-color: #FFDCB5;
  margin: 0 auto;
  padding: 0;
}

.description {
  margin: -20px 0 20px 0;
}

.our-program img.animated-gif {
  width: 60%;
  align-items: left;
}

.our-program h3 {
  margin-bottom: -20px;
}

.our-program h5 {
  margin-bottom: -10px;
}

/* Sign Up */
.sign-up {
  background-color: #FFDCB5;
  padding: 0;
  margin: 0 auto;
}

.sign-up ul {
  font-family: 'Source Sans Pro', sans-serif;
}

.sign-up button {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
}

.sign-up button {
  align-items: center;
  background: #ace8ef;
  color: #2d1800;
  padding: 15px 25px;
  border: none;
  cursor: pointer;
  font-family: 'Source Sans Pro', sans-serif;

}

.sign-up button:hover  {
  background: #fff5ea;
}

.btn {
  text-align: center;
}


/* Contact Us */

.contact-us {
  background-color: #FFDCB5;
  color: #2d1800;
  margin: 0 auto;
  padding: 0;
}

.contact-us a {
  text-decoration: none;
  color: #2d1800;
}

.contact-icons {
  text-decoration: none;
  margin: 0 auto;
  text-align: center;
  padding: 0;
}

.contact-icons li {
  display: inline-block;

}

form {
  border: none;
}

.contact-form input, .contact-form textarea {
  border: none;
  width: 70%;
}

.contact-form::after {
  clear: both;
  content: "";
  display: table;
}

.contact-form fieldset {
  margin: 24px 0;
}

.contact-form label {
  font-family: 'Shrikhand', cursive;
}  

.contact-form input, .contact-form textarea, .contact-form select {
    font-family: 'Source Sans Pro', sans-serif;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea,
.contact-form select,
.contact-form legend {
  display: block;
  width: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  width: fixed;
}
.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea,
.contact-form select {
  padding: 12px;
  border: none;
  background: #fff5ea;
  width: fixed;
  margin-bottom: 20px;
}

.contact-form textarea {
  resize: none;
  overflow: auto;
  min-height: 150px;
}

.contact-form input[type="submit"]{
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
}

.contact-form input[type="submit"]{
  background: #ace8ef;
  width: 100px;
  color: white;
  padding: 10px;
  margin: 20px 0 30px 0;
  border: none;
  font-family: 'Source Sans Pro', sans-serif;
  color: black;
  cursor: pointer;
}

.contact-form input[type="submit"]:hover {
  background: #fff5ea;
}

/* Footer */

footer {
  background-color: #FFF5EA;
  display: block;
  margin: 0 auto;
  padding: 0;
}

footer h2 {
  color: #2d1800;
}

.fa {
  padding: 20px;
  width: 50px;
  text-decoration: none;
  color: #2d1800;
}

.fa:hover {
  color: white;
}

.icons {
  margin: 0 auto;  
  text-align: center;
  padding: 0;
  background-color: #ace8ef;
}

.icons li {
  display:  inline-block;
  margin: 0 auto;
}



#mc_embed_signup {
  color: #FFF5EA;
  padding: 20px;
  text-align: center;

}

#mc_embed_signup h2{
  padding: 10px 0 10px 0;
  font-family: 'Shrikhand', cursive;
  color: #2d1800;
}

#mc_embed_signup .mc-field-group {
  font-family: 'Source Sans Pro', sans-serif;
  margin: -25px 0 0 0;
}

#mc_embed_signup input {
  width: 200px;
  font-family: 'Source Sans Pro', sans-serif;

}

#mc_embed_signup .button {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
}

#mc_embed_signup .button {
  background: #ace8ef;
  color: white;
  padding: 10px;
  margin: 20px 0 30px 0;
  border: none;
  font-family: 'Source Sans Pro', sans-serif;
  color: black;
  cursor: pointer;
}

#mc_embed_signup .button:hover {
  background: #f9b880;
  color: #2d1800;
}

.disclaimer {
  background-color: #ace8ef;
  text-align: center;
  font-size: 11px;
  margin: 0 auto;
  padding: 0;
}

@media only screen and (max-width: 1220px) {
  .header h1 {
    font-size: 55px;
    margin-bottom: -35px;
  }

  .header h2 {
    font-size: 30px;
    margin-bottom: -5px;
  }
}

@media only screen and (max-width: 1050px) {
  .header h1 {
    font-size: 50px;
  }

  .header h2 {
    font-size: 25px;
  }

}


@media only screen and (max-width: 992px) {

  .content {
    margin: 0 15% 0 15%;
    padding: 35px 0 35px 0;
  }

  .container {
    margin: 0 15% 45px 15%;
  }

  .header p {
    font-size: 20px;
  }

  .contact img {
    padding: 10px;
  }
} 

@media only screen and (max-width: 860px) {
  .header h1 {
    font-size: 45px;
  }
}

@media only screen and (max-width: 775px) {
  .header h1 {
    font-size: 40px;
    margin-bottom: -20px;
  }

  .header h2 {
    font-size: 20px;
  }
}

@media only screen and (max-width: 700px) {
  .header img {
    width: 40%;
  }

  .description {
    margin: 0 auto;
  }
}

@media only screen and (max-width: 600px) {
  
  nav img {
    height: 40px;
  }

  nav li {
    padding: 10px 20px 0 20px;
  }

  a:hover span {
    font-size: 13px;
  }

  .content, form {
    margin: 0 25px 0 25px;
  }

  .container {
    margin: 0 10px 45px 10px;
  }

  .header p {
    font-size: 20px;
  }

  .icons li, .contact-icons li {
    margin: 0 -15px 0 -15px;
  }

  form {
    margin: 0 20px 0 0;
  }

} 


@media only screen and (max-width: 500px) {
  nav img {
    height: 30px;
  }

  nav li {
    padding: 10px 14px 0 14px;
  }

  a:hover span {
    font-size: 13px;
  }

  .contact-icons li{
    margin: 0 -15px 0 -15px;
  }
}

@media only screen and (max-width: 400px) {

  nav img {
    height: 30px;
    margin: 0 auto;
  }

  nav li {
    padding: 10px 8px 0 8px;
  }

  a:hover span {
    font-size: 13px;
  }

  .content {
    margin: 0 10px 0 10px;
  }

  .header h1 {
    font-size: 35px;
  }

  .header h2 {
    font-size: 20px;
  }

  .header p {
    font-size: 17px;
  }

  .contact img {
    width: 30px;
    padding: 7px;
  }

  .icons li, .contact-icons li {
    margin: 0 -15px 0 -15px;
  }

  form {
    margin: 0 25px 0 0;
  }

} 


@media only screen and (max-width: 350px){

  nav img {
    height: 25px;
  }

  nav li {
    padding: 10px 8px 0 8px;
  }

  a:hover span {
    font-size: 11px;
  }

  .container {
    margin: 0 5px 45px 5px;
  }

  .header img {
    width: 60%;
  }
  
  .contact img {
    width: 300px;
    padding: 5px;
  }

  .icons li, .contact-icons li {
    margin: 0 -17px 0 -17px;
    }

  form {
    margin: 0 25px 0 0;
  }
}


/* Toast Framework */
.row {
  list-style: none;
  margin-left: -20px; }

.col-2-of-2, .col-3-of-3, .col-4-of-4, .col-5-of-5, .col-6-of-6, .col-8-of-8, .col-12-of-12 {
  width: 100%; }

.col-1-of-2, .col-2-of-4, .col-3-of-6, .col-4-of-8, .col-6-of-12 {
  width: 50%; }

.col-1-of-3, .col-2-of-6, .col-4-of-12 {
  width: 33.33333%; }

.col-2-of-3, .col-4-of-6, .col-8-of-12 {
  width: 66.66667%; }

.col-1-of-4, .col-2-of-8, .col-3-of-12 {
  width: 25%; }

.col-3-of-4, .col-6-of-8, .col-9-of-12 {
  width: 75%; }

.col-push-2-of-2, .col-push-3-of-3, .col-push-4-of-4, .col-push-5-of-5, .col-push-6-of-6, .col-push-8-of-8, .col-push-12-of-12 {
  margin-left: 100%; }

.col-push-1-of-2, .col-push-2-of-4, .col-push-3-of-6, .col-push-4-of-8, .col-push-6-of-12 {
  margin-left: 50%; }

.col-push-1-of-3, .col-push-2-of-6, .col-push-4-of-12 {
  margin-left: 33.33333%; }

.col-push-2-of-3, .col-push-4-of-6, .col-push-8-of-12 {
  margin-left: 66.66667%; }

.col-push-1-of-4, .col-push-2-of-8, .col-push-3-of-12 {
  margin-left: 25%; }

.col-push-3-of-4, .col-push-6-of-8, .col-push-9-of-12 {
  margin-left: 75%; }

.col-pull-2-of-2, .col-pull-3-of-3, .col-pull-4-of-4, .col-pull-5-of-5, .col-pull-6-of-6, .col-pull-8-of-8, .col-pull-12-of-12 {
  margin-left: -100%; }

.col-pull-1-of-2, .col-pull-2-of-4, .col-pull-3-of-6, .col-pull-4-of-8, .col-pull-6-of-12 {
  margin-left: -50%; }

.col-pull-1-of-3, .col-pull-2-of-6, .col-pull-4-of-12 {
  margin-left: -33.33333%; }

.col-pull-2-of-3, .col-pull-4-of-6, .col-pull-8-of-12 {
  margin-left: -66.66667%; }

.col-pull-1-of-4, .col-pull-2-of-8, .col-pull-3-of-12 {
  margin-left: -25%; }

.col-pull-3-of-4, .col-pull-6-of-8, .col-pull-9-of-12 {
  margin-left: -75%; }

.col-1-of-5 {
  width: 20%; }

.col-push-1-of-5 {
  margin-left: 20%; }

.col-pull-1-of-5 {
  margin-left: -20%; }

.col-2-of-5 {
  width: 40%; }

.col-push-2-of-5 {
  margin-left: 40%; }

.col-pull-2-of-5 {
  margin-left: -40%; }

.col-3-of-5 {
  width: 60%; }

.col-push-3-of-5 {
  margin-left: 60%; }

.col-pull-3-of-5 {
  margin-left: -60%; }

.col-4-of-5 {
  width: 80%; }

.col-push-4-of-5 {
  margin-left: 80%; }

.col-pull-4-of-5 {
  margin-left: -80%; }

.col-1-of-6 {
  width: 16.66667%; }

.col-push-1-of-6 {
  margin-left: 16.66667%; }

.col-pull-1-of-6 {
  margin-left: -16.66667%; }

.col-5-of-6 {
  width: 83.33333%; }

.col-push-5-of-6 {
  margin-left: 83.33333%; }

.col-pull-5-of-6 {
  margin-left: -83.33333%; }

.col-1-of-8 {
  width: 12.5%; }

.col-push-1-of-8 {
  margin-left: 12.5%; }

.col-pull-1-of-8 {
  margin-left: -12.5%; }

.col-3-of-8 {
  width: 37.5%; }

.col-push-3-of-8 {
  margin-left: 37.5%; }

.col-pull-3-of-8 {
  margin-left: -37.5%; }

.col-5-of-8 {
  width: 62.5%; }

.col-push-5-of-8 {
  margin-left: 62.5%; }

.col-pull-5-of-8 {
  margin-left: -62.5%; }

.col-7-of-8 {
  width: 87.5%; }

.col-push-7-of-8 {
  margin-left: 87.5%; }

.col-pull-7-of-8 {
  margin-left: -87.5%; }

.col-1-of-12 {
  width: 8.33333%; }

.col-push-1-of-12 {
  margin-left: 8.33333%; }

.col-pull-1-of-12 {
  margin-left: -8.33333%; }

.col-2-of-12 {
  width: 16.66667%; }

.col-push-2-of-12 {
  margin-left: 16.66667%; }

.col-pull-2-of-12 {
  margin-left: -16.66667%; }

.col-5-of-12 {
  width: 41.66667%; }

.col-push-5-of-12 {
  margin-left: 41.66667%; }

.col-pull-5-of-12 {
  margin-left: -41.66667%; }

.col-7-of-12 {
  width: 58.33333%; }

.col-push-7-of-12 {
  margin-left: 58.33333%; }

.col-pull-7-of-12 {
  margin-left: -58.33333%; }

.col-10-of-12 {
  width: 83.33333%; }

.col-push-10-of-12 {
  margin-left: 83.33333%; }

.col-pull-10-of-12 {
  margin-left: -83.33333%; }

.col-11-of-12 {
  width: 91.66667%; }

.col-push-11-of-12 {
  margin-left: 91.66667%; }

.col-pull-11-of-12 {
  margin-left: -91.66667%; }

.col {
  box-sizing: border-box;
  display: inline-block;
  margin-right: -.25em;
  min-height: 1px;
  padding-left: 20px;
  vertical-align: top; }

@media (max-width: 700px) {
  .col {
    display: block;
    margin-left: 0;
    margin-right: 0;
    width: auto; } }
@media (max-width: 700px) and (min-width: 480px) {
  .col[class*="col-m-"] {
    display: inline-block;
    margin-right: 0px; }

  .col.col-m-1-of-2, .col.col-m-2-of-4 {
    width: 50%; }

  .col.col-m-1-of-3 {
    width: 33.33333%; }

  .col.col-m-2-of-3 {
    width: 66.66667%; }

  .col.col-m-1-of-4 {
    width: 10%; }

  .col.col-m-3-of-4 {
    width: 75%; } }
@media (max-width: 480px) {
  .col[class*="col-s-"] {
    display: inline-block;
    margin-right: 0px; }

  .col.col-s-1-of-2, .col.col-s-2-of-4 {
    width: 50%; }

  .col.col-s-1-of-3 {
    width: 33.33333%; }

  .col.col-s-2-of-3 {
    width: 66.66667%; }

  .col.col-s-1-of-4 {
    width: 25%; }

  .col.col-s-3-of-4 {
    width: 75%; } }
.col-centered {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.col-d-first {
  float: left; }

.col-d-last {
  float: right; }

.grid-no-gutter {
  margin-left: 0;
  width: 100%; }

.grid-no-gutter .col {
  padding-left: 0; }

.grid-no-gutter .col-span-all {
  margin-left: 0;
  width: 100%; }

.col-ab {
  vertical-align: bottom; }

.col-am {
  vertical-align: middle; }

/*# sourceMappingURL=grid.css.map */